.gradient-border {
    display: flex;
    justify-content: center;
    align-items: center;
  
  
    border: 2px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(
          var(--angle),
          #007fba,
          #46d3a8
        ) border-box;
    animation: 4s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }